body {
  margin: 0;
  font-family: Arial;
  text-align: center;
  background: radial-gradient(circle, #111, #000);
  color: white;
  touch-action: manipulation;
}

h1 {
  margin-top: 20px;
  font-size: 42px;
}

#points {
  font-size: 70px;
  margin: 30px;
  font-weight: bold;
}

#clickBtn {
  font-size: 36px;
  padding: 50px 100px;
  border-radius: 25px;
  background: linear-gradient(145deg, #2a2a2a, #1a1a1a);
  border: none;
  color: white;
  box-shadow: 0 0 30px rgba(255,255,255,0.15);
}

.panel {
  margin-top: 25px;
}

button {
  padding: 18px 26px;
  margin: 10px;
  font-size: 18px;
  border-radius: 12px;
  background: #222;
  color: white;
  border: 1px solid #555;
}

#particles {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.particle {
  position: absolute;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  opacity: 1;
  transition: 0.6s;
}