body {
  font-family: Arial;
  text-align: center;
  background: #0f0f0f;
  color: white;
  margin: 0;
}

h1 {
  font-size: 42px;
  margin-top: 30px;
}

#points {
  font-size: 64px;
  margin: 30px;
  font-weight: bold;
}

button {
  padding: 18px 28px;
  margin: 12px;
  font-size: 20px;
  cursor: pointer;
  background: #222;
  color: white;
  border: 1px solid #555;
  border-radius: 10px;
  transition: 0.15s;
}

button:active {
  transform: scale(0.95);
}

button:hover {
  background: #333;
}

h2 {
  margin-top: 30px;
  font-size: 26px;
}